<body>
    <h1>Create a new Category</h1>

    <form method="POST" action="/categories/create">
        Name : <input name="name"> 
        <input value="Add new" type="submit">
    </form>
    <br>
    <br>
    <a href="/categories" style="margin-right:10;">Back to Category List</a>
</body>