<body>
    <h1>Edit Item</h1>

    <form method="POST" action="/items/<%= item.id %>/update">
        Name : <input name="name" value="<%= item.name %>" >  <br>
        Price : <input name="price" value="<%= item.price %>"> <br>
        categories : <input name="price" value=1> <br>
        <input value="Update item" type="submit">
    </form>
    

    <br>
    <br>
    <a href="/" style="margin-right:10;">Back to Item List</a>

</body>
