<body>
    <h1>Create a new Item</h1>

    <form method="POST" action="/items/create">
        Name : <input name="name">  <br>
        Price : <input name="price"> <br>
        Categories : 
        
        <br>
        <% categories.each_with_index  do |category, index| %>
        <input type="checkbox" name="categories[]" value="<%= category.id %> "> <%= category.name %> <br> 
        <% end %>
        <br>
        <input value="Add new item" type="submit">
    </form>
    
    <br>
    <br>
    <br>
    <a href="/items" style="margin-right:10;">Back to Item List</a>
</body>